@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-azul: #0B1D33;
    --cor-dourado: #C8A14A;
    --cor-branca: #F2F4F7;
    --cor-verde: #67C090;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: var(--cor-branca);
    color: var(--cor-azul);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    font-family: "Literata", sans-serif;
}

.principal {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    /* margin-right: 10%;
    margin-left: 1%;
    margin-top: 2%;*/
    margin-bottom: 10%;
    justify-content: center;
    align-items: start;
    text-align: justify;
}

.principal_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-left: 5%;
    margin-bottom: 5%;
   /margin-right: 5%;
    margin-top: 5%; */
    gap: 1rem;
    padding: 2%;
}

.video {
    align-self: center;
}

.titulo {
    font-family: "Literata", sans-serif;
    font-size: 250%;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
}

.subtexto {
    font-family: "Literata", sans-serif;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--cor-dourado);
    text-align: center;
}

.cabecalho {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--cor-azul);
    color: var(--cor-branca);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cabecalho_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    width: 8%;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;    
}

.destaquetexto {
    color: var(--cor-dourado);
}

.redes_sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% 0% 0% 0%;
    gap: 1rem;
    align-items: center;
}

.botao {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    border: 2px solid var(--cor-dourado);
    width: 220px;
    text-align: center;
    color: var(--cor-azul);
    border-radius: 16px;
    font-size: 100%;
    padding: 8px 0px;
    text-decoration: none;
    font-weight: 600;
    gap: 0.5rem;
}
.botao:hover {
    background-color: var(--cor-dourado);
    color: var(--cor-branca);
}

.logo_rede {
    width: 18px;
    margin: 0px 0px 0px 0px;
}

.home {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1% 0% 0% 0%;
    align-items: center;
}

.botao_menu {
    background-color: var(--cor-azul);
    width: 45%;
    text-align: center;
    color: var(--cor-branca);
    font-size: 16px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 600;
}

.botao_menu:hover {
    background-color: var(--cor-dourado);
    color: var(--cor-branca);
}

.menu {
    width: 75%;
    background-color: var(--cor-azul);
    border: 2px solid var(--cor-dourado);
    color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    gap: 16px;
    border-radius: 16px;
    align-items: center;
    padding: 16px;
}

.botao_home {
    border: 2px solid var(--cor-dourado);
    width: 75%;
    text-align: center;
    color: var(--cor-azul);
    border-radius: 16px;
    font-size: 20px;
    padding: 5px 5px;
    text-decoration: none;
    font-weight: 600;
}

.botao_home:hover {
    background-color: var(--cor-dourado);
    color: var(--cor-branca);
}

.destaquepagina {
    color: var(--cor-dourado);
    font-size: 40px;
    text-align: center;
}

.destaquetexto {
    color: var(--cor-azul);
    font-size: 30px;
    text-align: justify;
}

.texto{
    text-align: justify;
}

.tabela {
    border-color: var(--cor-dourado);
    border-collapse: collapse;
    border: 0%;
    padding: 0rem;
}

.tabela_cabecalho {
    background-color: var(--cor-azul);
    color: var(--cor-branca);
    font-size: 30px;
    text-align: center;
    padding: 1rem;
}

.tabela_linha {
    background-color: var(--cor-branca);
    color: var(--cor-azul);
    font-size: 20px;
    text-align: center;
    padding: 1rem;
}

.pe {
    gap: 10rem;
}


@media (max-width: 1200px) {
    * {
        margin: 0%;
        padding: 0%;
    }
    .principal {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        border: 0%;
        margin: 0% 0% 0% 0%;
        padding: 0%;
    }
    .principal_section {
        padding: 1%;
    }
    .home {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0% 0px 0%;
    }
    .titulo {
        font-size: 150%;
        text-align: justify;
    }
    .subtexto {
        font-size: 100%;
        text-align: justify;
    }
    .logo {
        width: 94px;
        padding: 1%;    
    }
    .destaquepagina {
        font-size: 30px;
        padding: 3% 0% 0% 0%;
    }
    .destaquetexto {
        font-size: 20px;
        text-align: justify;
        padding: 0% 2% 0% 2%;
    }
    .destaquetexto_menor {
        font-size: 15px;
        text-align: justify;
        padding: 0% 2% 0% 2%;
    }
    .texto {
        font-size: 13px;
        text-align: justify;
        padding: 0% 2% 0% 2%;
    }
    .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        border-radius: 15px;
        margin: 0px 0% 0px 0%;
        padding: 3% 3% 3% 3.5%;
    }
    .botao_menu {
        width: 85%;
        font-size: 13px;
        border-radius: 10px;
        font-weight: 400;
        text-align: center;
        align-self: center;
    }
    .botao_home {
        margin: 3% 0% 0% 0%;
        width: 45%;
        font-size: 15px;
        height: 25%;
        align-items: center;
    }
    .tabela_cabecalho {
        font-size: 20px;
    }
    .tabela_linha {
        font-size: 14px;
        text-align: justify;
    }
    .video {
        width: 85%;
        height: 85%;
    }
    .pe {
    font-size: 13px;
    }
}